<div class="main-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card bg-light mt-5 gift-card text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/img/hien1.PNG" alt="hienptt" srcset="" class="crush-1">
                                <h1 class="mt-2">Chúc mừng sinh nhật em !!!!</h1>
                                <small class="author">~Fan club member - Nguyễn Xuân Quang</small>
                            </div>
                        </div>
                        <div class="row justify-content-md-center mt-2">
                            <a class="btn btn-warning next-home" href="../wish">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


