<div class="parent-img">
    <img src="/img/hien2.jpg" alt="hienptt" class="crush-2" srcset="">
</div>

<div class="first-wish ">
    <h1 class="normal-wish-text first-wish-text">Mạnh mẽ như Bảo Bình</h1>
    <img src="/img/aquarius2.jpg" alt="" srcset="" class="img-wish-1">
</div>

<div class="second-wish">
    <h1 class="normal-wish-text second-wish-text">Tươi vui và ấm áp như tia nắng</h1>
    <img src="/img/sun1.png" alt="" srcset="" class="img-wish-1">
</div>

<div class="third-wish">
    <h1 class="normal-wish-text third-wish-text">Bền bỉ và thành công với mọi dự định của mình</h1>
    <img src="/img/fermi1.jpg" alt="" srcset="" class="img-wish-1">
</div>



<h1 class="present-wish"></h1>

<a class="btn btn-warning next-normal" href="/happy">Next</a>

<iframe src="https://www.youtube.com/embed/oMEtryL1cLk?autoplay=1;enablejsapi=1" allow="autoplay" type="text/html" class="page-audio" frameborder="0" allowfullscreen></iframe>