<div class="parent-img">
    <img src="/img/hien2.jpg" alt="hienptt" class="crush-2" srcset="">
</div>

<div class="first-wish ">
    <div class="d-flex justify-content-center align-items-center wish-text">
        <h1>Là một bảo bình mạnh mẽ</h1>
    </div>
    <div class="on-top"></div>
</div>

<div class="second-wish ">
    <div class="d-flex justify-content-center align-items-center wish-text">
        <h1>Vui vẻ dù có cuộc sống có ghì em xuống</h1>
    </div>
    <div class="on-top"></div>
</div>

<div class="third-wish ">
    <div class="d-flex justify-content-center align-items-center wish-text">
        <h1>Thành công với mọi dự định của em</h1>
    </div>
    <div class="on-top"></div>
</div>

<h1 class="present-wish"></h1>

<a class="btn btn-warning next-normal" href="/happy">Next</a>